/* Configuración de la pantalla RAPI. Se pueden cambiar estos tres valores. */
:root{
  --dashboard-width:1024px;
  --dashboard-height:600px;
  --dashboard-font-size:12px;
  --dashboard-gauges-width:50%;
}
